@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   /* ------ css reset ------ */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
  html {
    @apply font-sans;
    scroll-behavior: smooth;
    @apply text-white;
    @apply bg-black-500;
  }

/* ny test */
body, .scroll-container {
  scroll-snap-type: y mandatory; /* Enable scroll snapping vertically */
  overflow-y: scroll; /* Enable vertical scroll */
  height: 100vh; /* Ensure full height for the scroll container */
}

section {
  scroll-snap-align: start; /* Snap each section to the top */
}

  .display {
    @apply font-cooper;
  }
  h1,
  h2,
  a,
  p{
    @apply font-display;
  }


  h1, h2, h3, h4, p, a{
    @apply text-black-500;
  }

  .blink-1 {
    -webkit-animation: blink-1 0.6s 2s both;
            animation: blink-1 0.6s 2s both;
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }


}

