---
import Abbar from "../components/Abbar.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
---
<Header></Header>
<article>
<section>
    <Abbar></Abbar>
    <h3>Finalize your wine subscription</h3>
    <p>Fill out the information below to complete your wine subscription and join the Bællevin natural wine journey.</p>
</section>
<section class="flex flex-row border-t-black-500 border-b-black-500">
    <img src="" alt="bundle img">
    <p>Seasonal bundle</p>
    <p>3 bottles</p>
    <p>Every 4th week</p>
</section>

</article>