---
import Abbar from "../components/Abbar.astro";
import Accordion from "../components/Accordion.astro";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<MainLayout title="Bællevin">
<section class="bg-white rounded-34">
    <div class="flex flex-row justify-between mx-6 pt-[46px]">
        <Abbar variant="secondary" size="large" href="/club2">1</Abbar>
        <a class="text-[12px] mt-1 hover:underline pl-1" href="/club2">Product</a>
        <div class="h-px w-full bg-black-500 mt-3 mx-2"></div>
        <Abbar variant="secondary" size="large" href="/club3">2</Abbar>
        <a class="text-[12px] mt-1 hover:underline pl-1" href="/club2">Frequency</a>
        <div class="h-px w-full bg-black-500 mt-3 mx-2"></div>
        <Abbar variant="primary" size="large">3</Abbar>
        <p class="text-[12px] mt-1 hover:underline pl-1">Checkout</p>
    </div>
    <h3 class="text-blue-500 mt-m text-slogan lg:text-large pl-xxs md:pl-2xl lg:pl-6xl tracking-tighter font-light font-cooper">Finalize your wine subscription</h3>
    <p class="pb-xs py-xs pl-xxs md:pl-2xl lg:pl-6xl">Fill out the information below to complete your wine subscription and join the Bællevin natural wine journey.</p>
</section>
<article class="pt-m bg-white rounded-34 md:flex flex-row justify-between px-xxs">
    <div class="md:max-w-[930px] max-w-sm">
        <section class="py-xs md:mx-m flex flex-row justify-between px-m border-t-black-500 border-b-black-500 border-t border-b">
            <img class="w-[170px] rounded-34" src="/bundle.png" alt="bundle img">
           <div class="flex flex-col">
                <p>Seasonal bundle</p>
                <p>3 bottles</p>
                <p>Every 4th week</p>
           </div>
        <!--quantity -->
        </section>
           <!-- <h2 class="text-blue-500 text-large font-semibold mt-lg">Delivery information</h2> -->
        <h3 class="text-blue-500 mt-m text-slogan lg:text-large pl-xxs tracking-tighter font-light font-cooper">Delivery information</h3>
    
        <section>
            <form name="newsletter" method="POST" data-netlify="true" class="md:max-w-[930px] max-w-sm">
              <div class="container text-black-500 flex flex-col gap-4 border-b border-black-500 my-m md:mx-m px-m">
                <input type="text" placeholder="Full name" name="name" required class="w-full px-4 py-2 border border-black-500 rounded-md">
                <div class="md:flex flex-row md:space-x-4">
                    <input type="email" placeholder="E-mail" name="mail" required class="md:w-1/2 w-full mb-4 px-4 py-2 border border-black-500 rounded-md">
                    <input type="text" placeholder="Phone number" name="phone" required class="md:w-1/2 w-full mb-4 px-4 py-2 border border-black-500 rounded-md">
                </div>
                <input type="text" placeholder="Street name" name="street name" required class="w-full px-4 py-2 border border-black-500 rounded-md">
                <div class="md:flex flex-row md:space-x-4">
                    <input type="text" placeholder="Postal code" name="postal code" required class="md:w-1/2 w-full mb-4 px-4 py-2 border border-black-500 rounded-md">
                    <input type="text" placeholder="City" name="city" required class="md:w-1/2 w-full mb-4 px-4 py-2 border border-black-500 rounded-md">
                </div>
                <label class="flex items-center space-x-2 pb-m">
                  <input type="checkbox" checked="checked" name="subscribe" class="form-checkbox text-cerice_">
                  <span>Dagligt nyhedsbrev</span>
                </label>
              </div>
            </form>  
        </section>
        <section class="text-black-500 flex flex-col gap-4 border-b border-black-500">
            <h3 class="text-blue-500 mt-m text-slogan lg:text-large pl-xxs tracking-tighter font-light font-cooper">Payment options</h3>
         <div class="max-w-xl md:max-w-4xl mx-auto  px-4 md:px-0">
				<Accordion class="border-b border-black-500" caption="Debit card" image="" bio=""></Accordion>
				<Accordion class="border-b border-black-500" caption="Uforglemmeligt højskoleophold i udlandet" image="bloon.webp" bio="HÖJSKOLENDK tilbyder alverdens skønne rejser og ophold og du kan både komme på højskoleophold i udlandet i løbet af året eller på højskole i udlandet i sommerferien. Begge muligheder er enormt populære blandt vores skønne højskoleelever. Højskoleophold i sommerferien er typisk kortere og varer ca. 5 uger. På de højskole rejser oplever du flere lande og forskellige kulturer og traditioner, langt fra det danske vi kender. Det er et oplagt eventyr til dig, der gerne vil ud og rejse, møde andre unge mennesker og udvikle dig som menneske i løbet af din sommerferie, inden du fx starter på nyt studie eller job. Vores højskoleophold i løbet af året varer mellem 2-3 måneder. De rejser er oplagt for dig, der holder sabbatår og gerne vil ud og opleve verdenen hvor du udvikler dig selv på et personligt plan. Tag på højskole i udlandet med andre og få en uforglemmelig oplevelse. Vi tør godt love dig, at det bliver dit livs eventyr!"></Accordion>
				<Accordion class="border-b border-black-500" caption="En rejse højskole fyldt med oplevelser" image="ink.webp" bio="Drømmer du om at rejse på højskole i udlandet? Med HÖJSKOLENDK tilbyder vi de mest attraktive højskoleophold i udlandet, hvor du besøger skønne og spændende lande, deltager i inspirerende undervisning og fede aktiviteter. Du rejser med andre unge voksne og danske rejseledere, og får oplevelser for livet. Vores højskoleophold byder på teambuilding, hvor du udvikler dig personligt og lærer om samarbejde og fællesskab, frivilligt arbejde, hvor du kommer tæt på lokale kulturer, og spændende friuger, hvor du selv kan udforske verden. Oplev vilde naturoplevelser som trekking i Himalaya, snorkling i Caribien, safari i Sri Lanka eller surf på Hawaii. Mød autentiske kulturer, se te-plantager i Sri Lanka, hindu-templer i Indien eller Inka-ruiner i Mexico. HÖJSKOLENDK sikrer dig eventyr, fællesskab og personlig udvikling, så du vender hjem stærkere, mere selvsikker og med minder for livet. Vælg dit næste højskoleeventyr i verdenen med os."></Accordion>
		</div>
        <Accordion>Debit card</Accordion>
        <Accordion>PayPal</Accordion>
        <Accordion>MobilePay</Accordion>
        </section>
    </div>
    <div>
        <section class="max-w-sm lg:max-w-[809px] ml-sm bg-black-50 rounded-50 px-m">
            <h3 class="py-m text-blue-500 mt-m text-slogan lg:text-large text-center tracking-tighter font-light font-cooper">
                Total order</h3>
            <div class="flex flex-row justify-between">
                <p>Subtotal</p>
                <p>300 dkk</p>
            </div>
            <div class="flex flex-row justify-between">
                <p>Shipping</p>
                <p>free</p>
            </div>
            <div class="flex flex-row justify-between">
                <p>Total</p>
                <p>300 dkk</p>
            </div>
            <div class="py-m flex justify-center"><Button variant="primary" size="medium">Complete order</Button></div>
        </section>
    </div>
</article>
</article>
</MainLayout>