---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Bællevin">
<article>
  <section class="bg-blue-500">
      
           <img class="w-[660px]" src="logo_white.svg" alt="Bællevin logo">
           <h3 class="lg:text-left text-medium text-center lg:pl-5xl text-white font-cooper font-semibold mt-sm">Wine Club</h3>
      
        <section class="flex flex-row justify-center">
            <div><video class="w-[330px] md:w-[480px]" src="logomove.mp4"></video></div>
            <div class="rounded-50 w-full bg-white grid">
                <p class="pt-[40px] md:text-base font-display text-center">Select your wine preference or choose "all kinds" and let our wine enthusiasts do it for you.</p>
                <div class="flex flex-row space-x-xs justify-end pr-xs lg:pr-4xl lg:space-x-m">
                    <img class="hover:border hover:rounded-34 border-black-500 w-[50px] md:w-[110px]" src="/red.svg" alt="red wine">
                    <img class="hover:border hover:rounded-34 border-black-500 w-[50px] md:w-[110px]" src="/white.svg" alt="white wine">
                    <img class="hover:border hover:rounded-34 border-black-500 w-[50px] md:w-[110px]" src="/orange.svg" alt="orange wine">
                    <img class="hover:border hover:rounded-34 border-black-500 w-[50px] md:w-[110px]" src="/all.svg" alt="all kinds of wine">
                </div>
                <Button class="flex justify-end" variant="primary" size="medium" href="/club2">wine</Button>
            </div>
        </section>
  </section>
<section>
    <h3 class="rounded-50 bg-white text-medium text-blue-500 p-xs font-cooper font-semibold mt-sm">How it works</h3>
    <div class="bg-blue-500 rounded-50 lg:flex flex-row py-xs">
        <img class="w-[900px] pl-xs" src="/infographic.png" alt="info graphic">
        <img class="rotate-90 w-1/3" src="/logo_white.svg" alt="Bællevin logo">
    </div>
</section>
</article>
</MainLayout>