---
import Abbar from "../components/Abbar.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
---
<Header></Header>
<article>
<section>
    <Abbar></Abbar>
    <h3>Choose number of bottles</h3>
    <p>Select the number of wines you would like to recieve.</p>
</section>
<section>
    <!--Gifen ska med men ska den va background måske?? -->
    <p>Bottles</p>
    <div class="flex flex-row">
<Button>3</Button>
<Button>6</Button>
<Button>9</Button>
    </div>
    <Button>Next</Button>
</section>
</article>