---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<article>
  <section>
       <img src="" alt="Bællevin logo">
       <h3>Wine Club</h3>
  </section>
    <section class="grid grid-cols-2">
        <div>gif</div>
        <div>abbonnemang</div>
    </section>
<section>
    <h3>How it works</h3>
    <div class="">
        <img src="" alt="info graphic">
        <img src="" alt="Bællevin logo">
    </div>
</section>
</article>