---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import ImgToggle from "../components/ImgToggle.astro"
---
<MainLayout title="Bællevin">
<article>
  <section class="py-xs bg-blue-500">
           <a href="/">
               <img class="w-[720px]" src="/logo_white.svg" alt="Bællevin logo">
               <h3 class="md:text-left text-center -mt-12 md:-mt-16 mb-sm md:pl-6xl text-white text-slogan lg:text-large tracking-tighter font-light font-cooper">Wine Club</h3>
           </a>
           <section class="md:flex flex-row mx-xs justify-between">
            <video class="w-4xl md:w-8xl h-auto z-10" autoplay muted loop playsinline>
                <source src="/logomove.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="py-s rounded-50 w-full bg-white grid max-w-[900px] animate__animated animate__backInRight">
                <p class="text-tiny md:text-base font-display text-center">
                    Select your wine preference or choose "all kinds" and let our wine enthusiasts do it for you.
                </p>
                <div class="py-s flex flex-row space-x-s justify-end pr-s lg:pr-4xl lg:space-x-m ">
                    <ImgToggle src="/red.svg" alt="Red Wine" value="red" />
                    <ImgToggle src="/white.svg" alt="White Wine" value="white" />
                    <ImgToggle src="/orange.svg" alt="Orange Wine" value="orange" />
                    <div class="relative flex items-center space-x-2">
                        <ImgToggle src="/all.svg" alt="All Wines" value="all" />
        

                        <div class="relative group cursor-pointer hidden lg:block">

                            <div
                                class="flex items-center justify-center w-6 h-6 bg-gray-300 text-black rounded-full text-xs font-bold">
                                i
                            </div>
                       
                            <div
                                class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2 w-[180px] px-3 py-2 bg-white text-black-500 text-xs rounded-lg shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none z-10">
                                A mixture of white, orange, and red wines
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="flex justify-end pr-xs lg:pr-4xl">
                    <Button id="" class="flex justify-end" variant="primary" size="medium" href="/club2">Next</Button>
                </div>
            </div>
        </section>
      </section>
     <section class="">
    <h3 class="rounded-50 bg-white text-medium text-blue-500 p-xs text-slogan lg:text-large tracking-tighter font-light font-cooper ">How it works</h3>
    <div class="bg-blue-500 rounded-50 lg:flex flex-row py-xs justify-center items-center ">
        <img class="w-[900px] pl-xs blink" src="/infographic.png" alt="info graphic">
        <img class="hidden xl:block  max-w-96" src="/logo_white2.svg" alt="Bællevin logo">
    </div>
</section>
</article>

</MainLayout>

<script>
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".inviewreturn", ({ target }) => {
  animate(
    target,
    { opacity: [0, 1], y: [200, 0] },
    { duration: 1.5 }
  );

  return () => {
    animate(
      target,
      { opacity: 0, y: 200 }
    );
  };
});
</script>

<script>

	import { inView } from "motion";
	const inviewelement20 = document.querySelector(".blink");
	inView(
		inviewelement20, () => {
			inviewelement20.classList.add("blink-1")
		}
	)

</script>