---
import Abbar from "../components/Abbar.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
---
<Header></Header>
<article>
<section>
    <Abbar></Abbar>
    <h3>Select delivery frequency</h3>
    <p>Decide how often you would like your Bællevin wine to be delivered.</p>
</section>
<section>
    <!--Gifen ska med men ska den va background måske?? -->
    <p>Weeks</p>
    <div class="flex flex-row">
<Button>2</Button>
<Button>4</Button>
<Button>8</Button>
<Button>Seasonal</Button> <!--what is seasonal info-knapp?????-->
    </div>
    <Button>Check out</Button>
</section>
</article>