---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
---

<MainLayout title="Titel">
	<a href="/designsystem">DESIGNSYSTEM MANNEN</a>

	<section id="hero" class="bg-blue-500">
		<img class="" src="logo_white.svg" alt="">
		<h3 class="text-large  tracking-cooper font-light font-cooper">Beautiful Wines<br>Valby Langgade 52</h3>
	</section>

	<section id="intro">
	
			<div class="grid grid-cols-2">
				<img src="placeholder.webp" alt="">
				<div>
			
						<h1>Support your local winedealer</h1>
						<div class="grid grid-cols-2">
							<p>Wine bundles from</p>
							<div class="border-l border-black pl-4"></div>
							<h2>300DKK</h2>
			
							<p>Welcome to Bællevin, your local source for the finest natural wines. Whether you're a seasoned connoisseur or a curious beginner, we're here to connect you with unique, responsibly produced wines.</p>
			
						</div>
						<div class="flex flex-row">
							<Button></Button>
							<Button></Button>
						</div>
				</div>
			</div>
	</section>

	<section id="storeimage">
		<img src="placeholder.webp" alt="full screen image of store">
	</section>

	<section id="visit">
	
		<div class="grid grid-cols-2">
			
			<div>
				<h1>Visit us</h1>
				<div class="grid grid-cols-2">
						<p>Visit our cozy store</p>
					<div class="border-l border-black pl-4"></div>
					<h2>Valby Langgade 52</h2>
		
					<p>Come explore our selection of natural wines in person at our cozy shop in the heart of Valby. Whether you’re looking for something special or just want to chat about wine, our friendly staff is here to help you discover your next favorite bottle. We are located at Valby Langgade 52, just a short walk from the Valby train station. Stop by and experience the world of natural wines firsthand!</p>
		
				</div>
				<div class="flex flex-row">
					<Button></Button>
					<Button></Button>
				</div>
			</div>
			<img src="placeholder.webp" alt="">
		</div>
	</section>

	<section id="join">
	
		<div class="grid grid-cols-2">
			<img src="placeholder.webp" alt="">
	
			<div>
				<h1>Join the wineclub</h1>
				<div class="grid grid-cols-2">
					<p>Wine bundles from</p>
					<div class="border-l border-black pl-4"></div>
					<h2>300DKK</h2>
					<p>If choosing your wines feels difficult and boring, or if you lack the time and energy to place an order, you should sign up for a wine subscription here on the website and let wine enthusiasts do the work for you!</p>
				</div>
					<Button></Button>
					
			</div>
			</div>
	</section>

	<section id="What is Natural Wine, Anyway?">
	
		<div class="grid grid-cols-2">
			
			<div>
				<h1>Visit us</h1>
				<div class="grid grid-cols-2">
					<p>Natural wine is made from organically farmed grapes, with no additives or artificial interventions. No added sugars, acids, or preservatives—just pure, unfiltered wine that highlights the true flavors of the grapes and the land. It's a healthier, more sustainable choice that offers an authentic, unique wine experience.</p>
					<img src="" alt="svg av vinflaska?">
				</div>
					<Button></Button>
			</div>
			<img src="placeholder.webp" alt="">
		</div>
	</section>


</MainLayout>