---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import Abbar from "../components/Abbar.astro";
import placeholder from "../assets/images/placeholder.webp"
import store from "../assets/images/store.webp"
import visit2 from "../assets/images/visit2.webp"
import wineclubs from "../assets/images/wineclubs.webp"
import whatis from "../assets/images/whatis.webp"
import logo from "../assets/images/logo_white.svg"
---


<div class="md:scroll-container">
<MainLayout title="Bællevin">

	<section id="hero" class="bg-blue-500 h-screen relative" >
	<div class="sticky top-[50px] h-[800px]">
			<div class="flex flex-col items-center justify-center animate__animated animate__fadeIn">
				<img src="logo_white.svg" alt="Logo" class="w-[895px]  mb-4 mt-20 z-20 ">
				<video class="xl:w-9xl w-8xl h-auto -mt-28 z-10" autoplay muted loop playsinline >
					<source src="logomove.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<img id="fallback-image" src="gubbe1.png" alt="Fallback animation" class="xl:w-9xl w-8xl h-auto -mt-28 z-10" style="display: none;">
			</div>
	</div>
		<h3 class="text-slogan tracking-cooper font-light font-cooper absolute bottom-36 right-8 text-center text-white z-20 hidden md:block animate__animated animate__fadeIn" style="letter-spacing: -3.85px;">
			Beautiful Wines<br>Valby Langgade 52
		</h3>

		<div class="absolute bottom-16 left-1/2 transform -translate-x-1/2 animate-bounce ">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
			</svg>
		  </div>
		
	</section>

	  <section id="intro" class="lg:h-screen bg-black">
		<div class="lg:grid grid-cols-2 h-full">
		  <Image src={placeholder} alt="A shop sign featuring the Bællevin logo in bold white text." class="inviewreturn lg:h-full object-cover border-0 rounded-[50px]" />
		  <div class="h-full flex flex-col">
			<h1 class="bg-white border-0 rounded-[50px] text-4xl md:text-large font-extralight text-blue-500 w-full py-3 px-[27px] h-[120px] flex items-center">
			  Support your local winedealer
			</h1>
			<div class="bg-white border-0 rounded-[50px] flex-grow flex flex-col justify-between">
			  <div class="lg:grid grid-cols-2 gap-2 pt-5">
				<div class="px-6">
				  <p class="xl:text-base text-bread font-display">Wine bundles from</p>
				  <div class="border-b border-black-500 w-64 my-2"></div>
				  <h2 class="text-4xl lg:text-medium font-extralight">300DKK</h2>
				</div>
				<p class="xl:text-base font-display px-5 mt-4 mb-4 sm:mt-0 sm:mb-0">
				  Welcome to Bællevin, your local source for the finest natural wines. Whether you're a seasoned connoisseur or a curious beginner, we're here to connect you with unique, responsibly produced wines.
				</p>
			  </div>
	  
			  <div class="flex justify-center items-center md:flex-row flex-col mb-14 gap-2 md:gap-0">
				<Button variant="primary" size="medium" href="#visit">Visit us</Button>
				<Button variant="primary" size="medium" href="#join">Join the club</Button>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  
	  
	<section class="parallaxgrafik fullwidthsection">	
		<div class="bg-teal-100 h-screen w-full bg-cover bg-center grid grid-cols-12 overflow-hidden rounded-50" style="background-image: url('store.webp');">
			 <img src="logo_white.svg" alt="The baellevin logo without background" class="col-start-2 col-span-10 parallaxgrafik1">
		</div>
	</section>



	<section id="visit" class="lg:h-screen bg-black">
		<div class="lg:grid grid-cols-2 h-full">
			<Image src={visit2} alt="A single wine bottle elegantly displayed on a green shelf, image from winemaker not store" class="inviewreturn lg:h-screen object-cover border-0 rounded-50"/>
		  <div class="h-full flex flex-col">

			<h1 class="bg-white border-0 rounded-[50px] text-4xl md:text-large font-extralight text-blue-500 w-full py-3 px-[27px] h-[120px] flex items-center">
			  Visit us
			</h1>
			<div class="bg-white border-0 rounded-[50px] flex-grow flex flex-col justify-between">
			  
			  <div class="lg:grid grid-cols-2 gap-2 pt-5">
				<div class="px-6">
				  <p class="xl:text-base text-bread font-display">Visit our cozy store</p>
				  <div class="border-b border-black-500 w-64 my-2"></div>
				  <h2 class="text-4xl lg:text-medium font-extralight ">Valby Langgade 52</h2>
				</div>
				<p class="xl:text-base font-display px-5 mt-4 mb-4 sm:mt-0 sm:mb-0">
				  Come explore our selection of natural wines in person at our cozy shop in the heart of Valby. Whether you're looking for something special or just want to chat about wine, our friendly staff is here to help you discover your next favorite bottle. We are located at Valby Langgade 52, just a short walk from the Valby train station. Stop by and experience the world of natural wines firsthand!
				</p>
			  </div>
	  
			  <div class=" flex justify-center items-center md:flex-row flex-col mb-14 gap-2 md:gap-0">
				<Button variant="primary" size="medium" target="_blank" href="https://www.google.com/maps/place/Valby+Langgade+52,+2500+K%C3%B8benhavn/@55.6666341,12.5131247,16z/data=!3m1!4b1!4m6!3m5!1s0x46525392c7424e63:0xa8dfaf549b026c09!8m2!3d55.6666341!4d12.515705!16s%2Fg%2F11b8v7gxbg?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Directions</Button>
				<Button variant="primary" size="medium" href="#contact">Opening hours</Button>
			  </div>
			</div>
		  </div>
	  

		   
		</div>
	  </section>
			


	
	<section id="join" class="lg:h-screen bg-black">
		<div class="lg:grid grid-cols-2 h-full">
		

		   <Image src={wineclubs} alt="A curated collection of mixed wines with vibrant labels, arranged on a wooden table." class="inviewreturn lg:h-full object-cover border-0 rounded-[50px] order-last "/>
		  <div class="h-full flex flex-col">
			<h1 class="bg-white border-0 rounded-[50px] text-4xl md:text-large font-extralight text-blue-500 w-full py-3 px-[27px] h-[120px] flex items-center">
			Join the wineclub
			</h1>
			<div class="bg-white border-0 rounded-[50px] flex-grow flex flex-col justify-between">
			
			  <div class="lg:grid grid-cols-2 gap-2 pt-5">
				<div class="px-6">
				  <p class="xl:text-base text-bread font-display">Wine bundles from</p>
				  <div class="border-b border-black-500 w-64 my-2"></div>
				  <h2 class="text-4xl lg:text-medium font-extralight">300DKK</h2>
				</div>
				<p class="xl:text-base font-display px-5 mt-4 mb-4 sm:mt-0 sm:mb-0">
				If choosing your wines feels difficult and boring, or if you lack the time and energy to place an order, you should sign up for a wine subscription here on the website and let wine enthusiasts do the work for you!
				</p>
			  </div>

			  <div class="flex justify-center mb-14 blink">
				<Button variant="primary" size="large" href="/club">Join the club</Button>
			  </div>
			</div>
		  </div>
		</div>
	  </section>

	  <section id="whatis" class="lg:h-screen bg-black">
	
		<div class="lg:grid grid-cols-2 h-full">
			<Image src={whatis} alt="Four hands each holding a bottle of natural wine that you can buy att baellevin" class="inviewreturn lg:h-screen object-cover border-0 rounded-50"/>
			
			<div class="h-full flex flex-col">
				<h1 class="bg-white border-0 rounded-[50px] text-4xl md:text-large font-extralight text-blue-500 w-full py-3 px-[27px] h-[120px] flex items-center">
				What is Natural Wine, Anyway?
				</h1>
				<div class="bg-white border-0 rounded-[50px] flex-grow flex flex-col justify-between">
				
				  <div class="lg:grid grid-cols-2 gap-2 pt-5">
					<p class="xl:text-base font-display px-5 mt-4 mb-4 sm:mt-0 sm:mb-0">
						Natural wine is made from organically farmed grapes, with no additives or artificial interventions. No added sugars, acids, or preservatives—just pure, unfiltered wine that highlights the true flavors of the grapes and the land. It's a healthier, more sustainable choice that offers an authentic, unique wine experience.
					  </p>
						<div class="px-6">
							<img src="/vinglas.svg" alt="" class="w-28 lg:w-40 hidden md:block">
						</div>
				  </div>
	
				  <div class="flex justify-center mb-14 gap-0">
					<Button variant="primary" size="large" target="_blank" href="https://www.instagram.com/p/DC68YMmMTWd/">Learn more</Button>
				  </div>
				</div>
			  </div>

			 
		</div>
	</section>

</MainLayout>
</div>


<script>
	import { animate, scroll } from 'motion';

	scroll(
    animate(".parallaxgrafik1", { 
        y: ["100%", "-100%"]  
    }),
    {
        container: document.querySelector(".md\\:scroll-container"), 
        target: document.querySelector(".parallaxgrafik"),
        offset: ["start end", "end start"],
    }
);
</script>


<script>
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".inviewreturn", ({ target }) => {
  animate(
    target,
    { opacity: [0, 1], y: [40, 0] },
    { duration: 1.5 }
  );

  return () => {
    animate(
      target,
      { opacity: 0, y: 40 }
    );
  };
});
</script>



<script>

	import { inView } from "motion";
	const inviewelement20 = document.querySelector(".blink");
	inView(
		inviewelement20, () => {
			inviewelement20.classList.add("blink-1")
		}
	)

</script>