---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
---

<MainLayout title="Titel">
	<a href="/designsystem">DESIGNSYSTEM MANNEN</a>

	<section id="hero">
		<img src="" alt="">
		<h3 class="text-large  tracking-cooper font-light font-cooper">Beautiful Wines<br>Valby Langgade 52</h3>
	</section>

	<section id="intro">
	
			<div class="grid grid-cols-2">
				<img src="" alt="">
		
					<h1>Support your local winedealer</h1>
					<div class="grid grid-cols-2">
						<p>Wine bundles from</p>
						<div class="border-l border-black pl-4"></div>
						<h2>300DKK</h2>
		
						<p>Welcome to Bællevin, your local source for the finest natural wines. Whether you're a seasoned connoisseur or a curious beginner, we're here to connect you with unique, responsibly produced wines.</p>
		
					</div>
					<div class="flex flex-row">
						<Button></Button>
						<Button></Button>
					</div>
			</div>
	</section>

	<section id="storeimage">
		<img src="" alt="">
	</section>

	<section id="visit">
	
		<div class="grid grid-cols-2">
			
			<div>
				<h1>Visit us</h1>
				<div class="grid grid-cols-2">
						<p>Wine bundles from</p>
					<div class="border-l border-black pl-4"></div>
					<h2>300DKK</h2>
		
					<p>Welcome to Bællevin, your local source for the finest natural wines. Whether you're a seasoned connoisseur or a curious beginner, we're here to connect you with unique, responsibly produced wines.</p>
		
				</div>
				<div class="flex flex-row">
					<Button></Button>
					<Button></Button>
				</div>
			</div>
			<img src="" alt="">
		</div>
</section>

</MainLayout>