---
// Få adgang til `variant`, `size`, og `href` fra props
const { variant = "primary", size = "medium", href } = Astro.props;

// Definér knap-styling
const buttonStyling = "py-4 px-4 rounded-md  border-2 md transition ease-in-out";
const variantClasses = {
  primary: "text-white w-[26px] h-[26px] rounded-full tracking-tight hover:bg-white hover:text-black-500",  
  secondary: "text-black-500 rounded-full w-[26px] h-[26px] bg-white hover:bg-white hover:text-black-500",
  tertiary: "",
};
const sizeClasses = {
  large: "text-[16px]",
  small: "text-tiny",
};
---

<div>
  {
    href ? (
      <a href={href} class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
        <slot />
      </a>
    ) : (
      <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
        <slot />
      </button>
    )
  }
</div>