---
const { variant = "primary", size = "medium", href, target } = Astro.props;

const buttonStyling = "font-display bg-white text-base text-black-500 hover:bg-blue-500 rounded-34 hover:text-white hover:shadow-none active:shadow-inner-50 transition ease-in-out shadow-drop-50 border border-black-500";
const variantClasses = {
    primary: "",
    secondary: "", 
};
const sizeClasses = {
  large: "2xl:h-[104px] 2xl:w-[719px] 2xl:px-[52px] flex items-center justify-center text-center lg:h-[90px] lg:w-[500px] lg:px-[40px] md:h-[75px] md:w-[400px] md:px-[30px] h-[60px] w-[280px] px-[20px]",
  medium: "2xl:h-[104px] 2xl:w-[354px] 2xl:px-[52px] flex items-center justify-center text-center lg:h-[90px] lg:w-[270px] lg:px-[36px] md:h-[75px] md:w-[230px] md:px-[28px] h-[60px] w-[180px] px-[18px]",
};

---

<div>
    {
      href ? (
        <a 
          href={href} 
          target={target} 
          rel={target === "_blank" ? "noopener noreferrer" : undefined} 
          class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "group"]}
        >
          <slot />
          <svg class="ml-[22px] w-6 h-6 text-black-500 group-hover:text-white transition-colors duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </a>
      ) : (
        <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "group"]}>
          <slot />
          <svg class="ml-[22px] w-6 h-6 text-black-500 group-hover:text-white transition-colors duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      )
    }
</div>
