---
---

<section id="contact" class="lg:flex flex-row justify-between font-display text-small pt-m pb-4xl mx-xxs">
    <img class="w-[760px]" src="/logo_white.svg" alt="white logo">
    <div class="flex">
        <div class="flex flex-col ml-lg">
        <a class="hover:underline text-white" href="/">Home</a>
        <a class="hover:underline text-white" href="/">Visit us</a>
        <a class="hover:underline text-white" href="/">Wine club</a>
        <a class="hover:underline text-white" href="/">Contact</a>
        <a class="hover:underline text-white" href="/">FAQ</a>
        <a class="hover:underline pt-lg text-white" href="https://www.instagram.com/baellevin_com/">@bællevin</a>
        </div>
        <div class="ml-lg">
        <p class="text-white">Opening Hours</p>
        <ul class="list-disc">
            <li>Tuesday to Saturday: 10:00 AM - 6:00 PM</li>
            <li>Closed on Sunday and Monday</li>
        </ul>
        <div class="h-px w-[220px] bg-white my-3 mx-2"></div>
        <ul class="list-disc">
            <li>Adress: Valby Langgade 52, 2500 Valby, Copenhagen, Denmark</li>
            <li>Phone: +45 53532633</li>
            <li>E-mail: russel@baellevin.com</li>
        </ul>
        <p class="text-right text-tiny lg:text-[17px] text-white pt-xs">Made by Nora & August</p>
        <p class="text-right text-tiny lg:text-[17px] text-white">© 2024 Bællevin. All Rights Reserved.</p>
    </div>
    </div>
</section>
      