---
---

<section class="lg:flex flex-row font-display text-small h-[424px] mx-xxs">
    <img class="max-w-[760px]" src="/logo_white.svg" alt="white logo">
    <div class="grid grid-cols-2">
    <div class="flex flex-col pl-xl">
        <a class="text-white" href="/">Home</a>
        <a class="text-white" href="/">Visit us</a>
        <a class="text-white" href="/">Wine club</a>
        <a class="text-white" href="/">Contact</a>
        <a class="text-white" href="/">FAQ</a>
        <a class="text-white" href="/">@bællevin</a>
    </div>
    <div class="w-[365px]">
        <p class="text-white">Opening Hours</p>
        <ul class="list-disc">
            <li>Tuesday to Saturday: 10:00 AM - 6:00 PM</li>
            <li>Closed on Sunday and Monday</li>
        </ul>
        <div class="h-px w-[220px] bg-white mt-3 mx-2"></div>
    </div>
    </div>
</section>
      