---
---
<div class="text-tiny font-display text-black-500 md:text-bread xl:text-base max-w-screen-sm md:max-w-screen-xl bg-white/80 border border-black-500 rounded-34 h-[46px] fixed bottom-[1vh] px-[10px] md:px-[25px] left-1/2 transform -translate-x-1/2 flex items-center justify-between w-full sm:w-[599px] z-50">
    <a href="/"><img class="w-28 hover:border-b-black-500" src="/logo.svg" alt="logo"></a>
    <a class="hover:underline" href="#visit">Visit store</a>
    <a class="hover:underline" href="/club">Wine club</a>
    <a class="hover:underline" href="#contact">Contact</a>
</div>
    