---
---
<div class="max-w-screen-xl mx-auto">
<div class="bg-white/80 border rounded-34 lg:w-[671px] lg:h-[46px]">
    <img class="w-28" src="/logo.svg" alt="logo">
    <a href=""></a>
</div>
</div>
    