---
const { value, name = "radio-group" } = Astro.props;
---

<label class="cursor-pointer">
  <input
    type="radio"
    name={name}
    value={value}
    class="sr-only peer"
  />
  <div
    class="
      w-[117px] h-[117px] flex items-center justify-center
      font-display text-base rounded-34 border border-black-500
      bg-white text-black-500 shadow-drop-50
      peer-checked:bg-blue-500 peer-checked:text-white peer-checked:shadow-inner-50
      transition ease-in-out hover:bg-blue-500 hover:text-white
    "
  >
    <slot />
  </div>
</label>
